
body, figure, p, ol, ul {
    margin: 0;
    padding: 0;
  }
  
h1, h2, h3 {
    font-family: 'Tilt Warp', cursive;
  }


  body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
  }
 
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  

  .nav {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #5f1c3e;
    color: #fff;
  }
  
  nav ul {
    list-style-type: none;
  }
  
  nav li {
    display: inline;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  nav a:hover {
    color: #ffdd00;
  }
  
  @media (min-width: 768px) {
    .nav {
      flex-direction: row;
      align-items: center;
    }
  }

  .nav-item {
    margin: 10px;
    color: #fff;
  }

  .active{
    color: rgb(255, 255, 255);
    border: 2px solid;
    border-radius: 20px;
    padding: 5px;
}


  header {
    background-color: #f8f8f8;
    padding: 20px;
  }
  
  h1 {
    font-family: 'Archivo', sans-serif;
    font-size: 36px;
    margin-top: 20px;
  }
  
  main {
    padding: 20px;
  }
  
  main img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  
  #main {
    margin-bottom: 40px;
  }
  
  h2 {
    font-size: 24px;
    margin-top: 20px;
  }
  
  p {
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #5b394a;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  
  .thanks i {
    margin-left: 5px;
  }
  
  a {
    color: #0b751f;
    text-decoration: none;
  }
  
  a:hover {
    color: #ffe600;
  }

  a.skip-link {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  a.skip-link:focus {
    position: static;
  }

  #mainimg {
    width: auto;
    height: 200px;
    position: relative;
    transition: transform 1s ease-in-out;
  }

  .animate {
    transform: rotate(360deg);
  }
  img {
    max-width: 100%;
    height: 80%;
    display: block;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    transition: all 0.3s ease;
  }


  img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr; 
    gap: 20px; 
    padding: 20px; 
  }


  .grid-item {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative; 
  }

  .grid-item:nth-child(3n)::after {
    content: 'Featured'; 
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffcc00; 
    color: #fff; 
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
    
  }

  .grid-item:nth-child(3n) img:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(251, 255, 0, 0.57);
  }

  .grid-item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px; 
    padding: 20px; 
  }

  .flex-item {
    flex-basis: calc(33.33% - 20px); 
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    position: relative; 
  }

  .flex-item:nth-child(3n)::after {
    content: 'Featured'; 
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ffcc00; 
    color: #fff; 
    padding: 5px 10px;
    font-size: 12px;
    border-radius: 5px;
  }


  .flex-item:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

 
  @media screen and (min-width: 768px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
    .flex-item {
        flex-basis: calc(50% - 20px);
    } 
  }

  @media screen and (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); 
    }
    .flex-item {
        flex-basis: calc(33.33% - 20px);
    }
  }

  
  h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 40px;
}

dl {
    margin: 0;
    padding: 0;
}

dt {
    font-weight: bold;
    margin-top: 20px;
    background-color: #adadad;
    position: relative;
    animation-name: animation1;
    animation-duration: 4s;
    animation-iteration-count: 3;
    text-align: center;
}

dd {
    margin-left: 20px;
}

p {
    margin: 0;
    padding: 0;
}

a {
    color: #7758ff;
    text-decoration: none;
}

footer {
    background-image: url('bgimg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

